In [ ]:
# Install dependencies
!pip install -q -U datasets > /dev/null
!pip install --no-cache-dir transformers sentencepiece
!pip install torch
!pip install nltk
!pip install sqlparse

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pyarrow<15.0.0a0,>=14.0.1, but you have pyarrow 17.0.0 which is incompatible.
ibis-framework 8.0.0 requires pyarrow<16,>=2, but you have pyarrow 17.0.0 which is incompatible.
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.44.2)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.10/dist-packages (0.1.99)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.16.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.23.2 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.24.6)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2024.5.15)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.32.3)
Requirement already satisfied: safetensors>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.4.5)
Requirement already satisfied: tokenizers<0.20,>=0.19 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.19.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.66.5)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.23.2->transformers) (2024.6.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.23.2->transformers) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2024.8.30)
Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.4.0+cu121)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.16.0)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch) (4.12.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch) (1.13.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2024.6.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (2.1.5)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy->torch) (1.3.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.5)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (0.5.1)

In [ ]:
import torch
from transformers import T5ForConditionalGeneration, T5Tokenizer, Trainer, TrainingArguments
from datasets import load_dataset
import json
import random, warnings
import nltk

# Suppress warnings
warnings.filterwarnings("ignore")

# Download nltk data
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Load the tokenizer and model
tokenizer = T5Tokenizer.from_pretrained("t5-base")
model = T5ForConditionalGeneration.from_pretrained("t5-base")

spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.39M [00:00<?, ?B/s]

config.json:   0%|          | 0.00/1.21k [00:00<?, ?B/s]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

model.safetensors:   0%|          | 0.00/892M [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

In [ ]:
!wget https://github.com/mfazrinizar/mfazrinizar/releases/download/1.0.0/train-validation-question-idspider.zip

--2024-09-14 03:41:06--  https://github.com/mfazrinizar/mfazrinizar/releases/download/1.0.0/train-validation-question-idspider.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/745936086/3db19451-21f6-4633-9da5-12e1e6b1f9a7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240914%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240914T034106Z&X-Amz-Expires=300&X-Amz-Signature=ee124ffa56adc67400d78784f39229b8f17cbb3247d67c0e7b41559995e53783&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=745936086&response-content-disposition=attachment%3B%20filename%3Dtrain-validation-question-idspider.zip&response-content-type=application%2Foctet-stream [following]
--2024-09-14 03:41:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/745936086/3db19451-21f6-4633-9da5-12e1e6b1f9a7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240914%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240914T034106Z&X-Amz-Expires=300&X-Amz-Signature=ee124ffa56adc67400d78784f39229b8f17cbb3247d67c0e7b41559995e53783&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=745936086&response-content-disposition=attachment%3B%20filename%3Dtrain-validation-question-idspider.zip&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1487724 (1.4M) [application/octet-stream]
Saving to: ‘train-validation-question-idspider.zip’

train-validation-qu 100%[===================>]   1.42M  --.-KB/s    in 0.05s

2024-09-14 03:41:06 (31.0 MB/s) - ‘train-validation-question-idspider.zip’ saved [1487724/1487724]

In [ ]:
import json
import os
from zipfile import ZipFile

# Define the path to the zip file and extract it
zip_path = '/content/train-validation-question-idspider.zip'
extract_path = '/content/train-validation-question-idspider'

# Extract the zip file
with ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

# Load the train and validation JSON files
with open(os.path.join(extract_path, 'train.json'), 'r') as f:
    train_data = json.load(f)

with open(os.path.join(extract_path, 'validation.json'), 'r') as f:
    validation_data = json.load(f)

# Now you have train_data and validation_data loaded
print(f"Loaded {len(train_data)} training samples")
print(f"Loaded {len(validation_data)} validation samples")

Loaded 8659 training samples
Loaded 1034 validation samples

In [ ]:
# Load tables.json (make sure to update the path if needed)
with open('/content/drive/MyDrive/idspider-question/tables.json', 'r') as f:
    tables_data = json.load(f)

In [ ]:
from torch.utils.data import Dataset

class SpiderDataset(Dataset):
    def __init__(self, data, tokenizer, max_length):
        self.data = data
        self.tokenizer = tokenizer
        self.max_length = max_length

    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        db_id = self.data[idx]['db_id']
        schema = self.get_schema(db_id)

        input_text = f"translate Indonesian to SQL: {self.data[idx]['question']}  {schema} "
        target_text = self.data[idx]['query']
        encoding = self.tokenizer(input_text, max_length=self.max_length, truncation=True, padding='max_length', return_tensors='pt')
        target = self.tokenizer(target_text, max_length=self.max_length, truncation=True, padding='max_length', return_tensors='pt')
        return {
            'input_ids': encoding['input_ids'].flatten(),
            'attention_mask': encoding['attention_mask'].flatten(),
            'labels': target['input_ids'].flatten(),
            'data_item': self.data[idx]
        }

    def get_schema(self, db_id):
        schema_data = next(item for item in tables_data if item['db_id'] == db_id)
        schema = " ".join([f"Table: {table_name} Columns: {', '.join([col_name for _, col_name in schema_data['column_names'] if schema_data['table_names'][table_idx] == table_name])}" for table_idx, table_name in enumerate(schema_data['table_names'])])
        return schema

In [ ]:
# Prepare the datasets for training and validation
train_dataset = SpiderDataset(train_data, tokenizer, max_length=128)
val_dataset = SpiderDataset(validation_data, tokenizer, max_length=128)

In [ ]:
# Set up training arguments
training_args = TrainingArguments(
    output_dir="/content/drive/MyDrive/modelt5idspider",  # Output directory
    per_device_train_batch_size=8,  # Batch size for training
    per_device_eval_batch_size=8,   # Batch size for evaluation
    num_train_epochs=3,  # Number of epochs
    evaluation_strategy="epoch",  # Evaluation strategy
    save_strategy="epoch",  # Save strategy
    logging_dir='./logs',  # Directory for storing logs
    learning_rate=5e-5,    # Learning rate
    weight_decay=0.01,     # Weight decay
    load_best_model_at_end=True
)

In [ ]:
# Initialize the Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=val_dataset,
    tokenizer=tokenizer
)

# Start training
trainer.train()

There were missing keys in the checkpoint model loaded: ['encoder.embed_tokens.weight', 'decoder.embed_tokens.weight', 'lm_head.weight'].

TrainOutput(global_step=3249, training_loss=0.30571268022372267, metrics={'train_runtime': 2041.8235, 'train_samples_per_second': 12.722, 'train_steps_per_second': 1.591, 'total_flos': 3954724780769280.0, 'train_loss': 0.30571268022372267, 'epoch': 3.0})

In [ ]:
# Save the fine-tuned model
model.save_pretrained("/content/drive/MyDrive/modelt5idspider")
tokenizer.save_pretrained("/content/drive/MyDrive/modelt5idspider")

('/content/drive/MyDrive/modelt5idspider/tokenizer_config.json',
 '/content/drive/MyDrive/modelt5idspider/special_tokens_map.json',
 '/content/drive/MyDrive/modelt5idspider/spiece.model',
 '/content/drive/MyDrive/modelt5idspider/added_tokens.json')

In [ ]:
import torch

# Ensure that you have a device to work with
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

# Move the model to the appropriate device
model.to(device)

def get_sql(query, schema):
    input_text = f"translate Indonesian to SQL: {query} {schema}"
    # Use the tokenizer to prepare inputs
    features = tokenizer([input_text], return_tensors='pt')

    # Move the tensors to the same device as the model
    input_ids = features['input_ids'].to(device)
    attention_mask = features['attention_mask'].to(device)

    # Generate the output using the model
    with torch.no_grad():
        output = model.generate(input_ids=input_ids, attention_mask=attention_mask)

    # Decode the output and return the result
    return tokenizer.decode(output[0], skip_special_tokens=True)

In [ ]:

gold_file = open('gold.txt', 'w')
pred_file = open('pred.txt', 'w')

num_queries = 1000
count = 0
for idx in random.sample(range(len(val_dataset)), num_queries):
    item = val_dataset[idx]
    data_item = item['data_item']
    print(f'{count + 1}/{num_queries}')
    print(f"Text: {data_item['question']}")

    # Get schema information
    db_id = data_item['db_id']
    schema = val_dataset.get_schema(db_id)

    pred = get_sql(data_item['question'], schema)
    gold = data_item['query']

    gold_file.write(gold + '\t' + db_id + '\n')
    pred_file.write(pred + '\n')

    print(f"Pred SQL: {pred}")
    print(f"True SQL: {gold}\n")

    count += 1

gold_file.close()
pred_file.close()

1/1000
Text: Berikan kode bandara dengan penerbangan paling sedikit.
Pred SQL: SELECT airport_code FROM airports GROUP BY airport_code ORDER
True SQL: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1

2/1000
Text: Temukan jumlah hewan peliharaan yang dimiliki oleh siswa yang berusia lebih dari 20 tahun.
Pred SQL: SELECT count(*) FROM Student WHERE age > 20
True SQL: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20

3/1000
Text: Rata-rata kapan transkripnya dicetak?
Pred SQL: SELECT avg(degree_summary_name) FROM transcripts
True SQL: SELECT avg(transcript_date) FROM Transcripts

4/1000
Text: Apa nama pertempuran yang berbeda antara komandan Bulgaria 'Kaloyan' dan komandan Latin 'Baldwin I'?
Pred SQL: SELECT name FROM ship WHERE ship_type = 'Bulgaria
True SQL: SELECT name FROM battle WHERE bulgarian_commander  =  'Kaloyan' AND latin_commander  =  'Baldwin I'

5/1000
Text: Cantumkan nama depan dan belakang semua pemain yang berada di tangan kiri/L sesuai urutan tanggal lahir.
Pred SQL: SELECT T1.fname, T1.lastname FROM players AS T1
True SQL: SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

6/1000
Text: Temukan nama toko yang tidak mempekerjakan karyawan mana pun.
Pred SQL: SELECT name FROM employee WHERE age > (SELECT max(age) FROM
True SQL: SELECT name FROM shop WHERE shop_id NOT IN (SELECT shop_id FROM hiring)

7/1000
Text: Berapa banyak penerbangan yang tiba di kota Aberdeen?
Pred SQL: SELECT count(*) FROM airports WHERE city = "Aberde
True SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

8/1000
Text: Apa identitas dan nama semua negara yang memiliki lebih dari 3 pembuat mobil atau memproduksi model fiat?
Pred SQL: SELECT id, full_name FROM countries WHERE country_name
True SQL: select t1.countryid ,  t1.countryname from countries as t1 join car_makers as t2 on t1.countryid  =  t2.country group by t1.countryid having count(*)  >  3 union select t1.countryid ,  t1.countryname from countries as t1 join car_makers as t2 on t1.countryid  =  t2.country join model_list as t3 on t2.id  =  t3.maker where t3.model  =  'fiat';

9/1000
Text: Tunjukkan nama dan nilai setiap siswa sekolah menengah.
Pred SQL: SELECT name, grade FROM student ORDER BY grade DESC LIMIT 1
True SQL: SELECT name ,  grade FROM Highschooler

10/1000
Text: Temukan nama depan dan umur siswa yang memiliki seekor anjing tetapi tidak memiliki kucing sebagai hewan peliharaan.
Pred SQL: SELECT T1.fname, T1.lname FROM Student AS T1
True SQL: SELECT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

11/1000
Text: Carilah jurusan dan umur siswa yang tidak mempunyai hewan peliharaan kucing.
Pred SQL: SELECT major, weight FROM Student GROUP BY major
True SQL: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

12/1000
Text: Model mobil manakah yang memiliki tenaga kuda minimum?
Pred SQL: SELECT model FROM models WHERE horsepower > (SELECT max(hors
True SQL: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id ORDER BY T2.horsepower ASC LIMIT 1;

13/1000
Text: Kota mana yang memiliki jumlah penerbangan berangkat paling banyak?
Pred SQL: SELECT city FROM airports WHERE airport_code = "bangkok
True SQL: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

14/1000
Text: Maskapai penerbangan mana yang berangkat dari bandara APG dan CVO?
Pred SQL: SELECT count(*) FROM airports WHERE airport_name = "A
True SQL: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"

15/1000
Text: Berapa banyak departemen yang menawarkan gelar?
Pred SQL: SELECT count(*) FROM DEPARTMENTS WHERE department_id
True SQL: SELECT count(DISTINCT department_id) FROM Degree_Programs

16/1000
Text: Apa saja 3 episode dengan rating paling tinggi dalam tabel serial TV dan berapa ratingnya?
Pred SQL: SELECT T1.series_name, T1.language FROM tv_
True SQL: SELECT Episode ,  Rating FROM TV_series ORDER BY Rating DESC LIMIT 3;

17/1000
Text: Tahun berapa konser paling banyak?
Pred SQL: SELECT count(*) FROM concert
True SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

18/1000
Text: Tanggal berapa dan id transkrip dengan jumlah hasil paling sedikit?
Pred SQL: SELECT count(*) FROM transcripts AS T1 JOIN courses AS T
True SQL: SELECT T2.transcript_date ,  T1.transcript_id FROM Transcript_Contents AS T1 JOIN Transcripts AS T2 ON T1.transcript_id  =  T2.transcript_id GROUP BY T1.transcript_id ORDER BY count(*) ASC LIMIT 1

19/1000
Text: Berapa banyak penerbangan yang berangkat dari 'APG'?
Pred SQL: SELECT count(*) FROM airports WHERE airport_name = '
True SQL: SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"

20/1000
Text: Berapa jumlah bahasa berbeda yang digunakan di seluruh dunia?
Pred SQL: SELECT count(*) FROM city WHERE population > ( SELECT
True SQL: SELECT count(DISTINCT LANGUAGE) FROM countrylanguage

21/1000
Text: Berapa tanggal lahir pemain poker dengan penghasilan terendah?
Pred SQL: SELECT Birth_Date FROM poker_player ORDER BY Birth_Date
True SQL: SELECT T1.Birth_Date FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings ASC LIMIT 1

22/1000
Text: Berapa rata-rata harapan hidup di negara-negara di kawasan Afrika Tengah?
Pred SQL: SELECT avg(population) FROM city WHERE country_code
True SQL: SELECT avg(LifeExpectancy) FROM country WHERE Region  =  "Central Africa"

23/1000
Text: Siapa nama depan, tengah, dan belakang lulusan sekolah paling awal?
Pred SQL: SELECT T1.fname, T1.lastname FROM students AS T1
True SQL: SELECT first_name ,  middle_name ,  last_name FROM Students ORDER BY date_left ASC LIMIT 1

24/1000
Text: Temukan jumlah total pemain.
Pred SQL: SELECT count(*) FROM tourneys
True SQL: SELECT count(*) FROM players

25/1000
Text: Apa kode bandara yang memiliki jumlah penerbangan terbanyak?
Pred SQL: SELECT airport_code FROM airports WHERE country = "Austria"
True SQL: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1

26/1000
Text: Temukan nama depan dan kode negara pemain yang melakukan tur paling banyak.
Pred SQL: SELECT T1.fname, T1.country_code FROM tourneys AS
True SQL: SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

27/1000
Text: Berapa banyak Channel TV yang menggunakan bahasa Inggris?
Pred SQL: SELECT count(DISTINCT country) FROM tv_channel
True SQL: SELECT count(*) FROM TV_Channel WHERE LANGUAGE = "English";

28/1000
Text: Toko mana yang memiliki karyawan paling banyak? Beri aku nama tokonya.
Pred SQL: SELECT name FROM employee ORDER BY count(*) DESC LIMIT 1
True SQL: SELECT t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t1.shop_id ORDER BY count(*) DESC LIMIT 1

29/1000
Text: Apa saja perusahaan rekaman orkestra berdasarkan tahun pendiriannya?
Pred SQL: SELECT count(*) FROM orchestra
True SQL: SELECT Record_Company FROM orchestra ORDER BY Year_of_Founded DESC

30/1000
Text: Tunjukkan nama semua teman Kyle di sekolah menengah.
Pred SQL: SELECT name FROM highschoolER ORDER BY grade DESC LIMIT 1
True SQL: SELECT T3.name FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id JOIN Highschooler AS T3 ON T1.friend_id  =  T3.id WHERE T2.name  =  "Kyle"

31/1000
Text: Tunjukkan nama dan tahun rilis lagu penyanyi termuda.
Pred SQL: SELECT T2.Song_Name, T2.Song_Name FROM song
True SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

32/1000
Text: Negara-negara Asia manakah yang memiliki populasi lebih besar dibandingkan negara mana pun di Afrika?
Pred SQL: SELECT population FROM country WHERE region = "Asia" AND region
True SQL: SELECT Name FROM country WHERE Continent  =  "Asia"  AND population  >  (SELECT min(population) FROM country WHERE Continent  =  "Africa")

33/1000
Text: Siapa nama konduktor yang diurutkan berdasarkan umur?
Pred SQL: SELECT Name FROM conductor ORDER BY Age DESC LIMIT 1
True SQL: SELECT Name FROM conductor ORDER BY Age ASC

34/1000
Text: Berapa banyak mobil yang memiliki lebih dari 6 silinder?
Pred SQL: SELECT count(*) FROM cars WHERE horsepower > 6
True SQL: SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders  >  6;

35/1000
Text: Berapa populasi dan harapan hidup di Brasil?
Pred SQL: SELECT population, population FROM city WHERE country_code = "bras
True SQL: SELECT Population ,  LifeExpectancy FROM country WHERE Name  =  "Brazil"

36/1000
Text: Hitung jumlah kecocokan.
Pred SQL: SELECT count(*) FROM tourneys
True SQL: SELECT count(*) FROM matches

37/1000
Text: Apa kode tipe dan deskripsi untuk semua tipe templat?
Pred SQL: SELECT template_type_code, document_type_description FROM Templates
True SQL: SELECT template_type_code ,  template_type_description FROM Ref_template_types

38/1000
Text: Sebutkan nama penyanyi yang kewarganegaraannya bukan "Prancis".
Pred SQL: SELECT T1.name FROM singer AS T1 JOIN song AS T2 ON
True SQL: SELECT Name FROM singer WHERE Citizenship != "France"

39/1000
Text: Berapa banyak mobil yang mempunyai akselerasi lebih besar dari mobil dengan tenaga kuda terbesar?
Pred SQL: SELECT count(*) FROM cars WHERE speed > (SELECT max(
True SQL: SELECT COUNT(*) FROM CARS_DATA WHERE Accelerate  >  ( SELECT Accelerate FROM CARS_DATA ORDER BY Horsepower DESC LIMIT 1 );

40/1000
Text: Hitung jumlah penerbangan United Airlines yang tiba di Aberdeen.
Pred SQL: SELECT count(*) FROM airlines WHERE airport_name = "Aber
True SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

41/1000
Text: Berapa banyak pemilik yang untuk sementara tidak mempunyai anjing?
Pred SQL: SELECT count(*) FROM dogs WHERE breed_code = "aband
True SQL: SELECT count(*) FROM Owners WHERE owner_id NOT IN ( SELECT owner_id FROM Dogs )

42/1000
Text: Berikan kode negara untuk negara-negara yang penduduknya menggunakan bahasa selain bahasa Inggris.
Pred SQL: SELECT country_code FROM country WHERE language = "english"
True SQL: SELECT DISTINCT CountryCode FROM countrylanguage WHERE LANGUAGE != "English"

43/1000
Text: Mengembalikan kode tipe templat yang paling umum digunakan dalam dokumen.
Pred SQL: SELECT template_type_code FROM Templates GROUP BY template_type
True SQL: SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code ORDER BY count(*) DESC LIMIT 1

44/1000
Text: Apa saja model kartu yang diproduksi setelah tahun 1980?
Pred SQL: SELECT model FROM models WHERE YEAR > 1980
True SQL: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

45/1000
Text: Apa nama lengkap masing-masing produsen mobil, beserta id-nya dan berapa model yang diproduksi?
Pred SQL: SELECT full_name, model FROM cars_data WHERE model_i
True SQL: SELECT T1.FullName ,  T1.Id ,  count(*) FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;

46/1000
Text: Tunjukkan nama guru yang berusia 32 atau 33 tahun?
Pred SQL: SELECT name FROM teacher WHERE age > 32 OR age  33
True SQL: SELECT Name FROM teacher WHERE Age  =  32 OR Age  =  33

47/1000
Text: Temukan nama pembuat yang memproduksi beberapa mobil pada tahun 1970?
Pred SQL: SELECT full_name FROM countries WHERE year > 1970
True SQL: SELECT DISTINCT T1.Maker FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker JOIN CAR_NAMES AS T3 ON T2.model  =  T3.model JOIN CARS_DATA AS T4 ON T3.MakeId  =  T4.id WHERE T4.year  =  '1970';

48/1000
Text: Tampilkan semua id dokumen dan jumlah paragraf di setiap dokumen. Pesan berdasarkan id dokumen.
Pred SQL: SELECT document_id, document_id FROM Documents GROUP
True SQL: SELECT document_id ,  count(*) FROM Paragraphs GROUP BY document_id ORDER BY document_id

49/1000
Text: Berapa nilai setiap siswa sekolah menengah?
Pred SQL: SELECT count(*) FROM student
True SQL: SELECT grade FROM Highschooler

50/1000
Text: Kembalikan kode tipe tipe template dengan deskripsi "Buku".
Pred SQL: SELECT template_type_description FROM Templates WHERE document_id
True SQL: SELECT template_type_code FROM Ref_template_types WHERE template_type_description  =  "Book"

51/1000
Text: Berapa maksimum dan minimum share untuk serial TV tersebut?
Pred SQL: SELECT max(share), min(share) FROM tv_serie
True SQL: SELECT max(SHARE) , min(SHARE) FROM TV_series;

52/1000
Text: Apa nama pengelola dan distrik toko yang menjual produk terbanyak?
Pred SQL: SELECT name, district FROM employee WHERE name LIKE '%Pro
True SQL: SELECT manager_name ,  district FROM shop ORDER BY number_products DESC LIMIT 1

53/1000
Text: Siapa nama konduktor yang berkewarganegaraan bukan "AS"?
Pred SQL: SELECT Name FROM conductor WHERE Nationality = "AS"
True SQL: SELECT Name FROM conductor WHERE Nationality != 'USA'

54/1000
Text: Berapa jumlah konser yang diadakan di stadion dengan kapasitas terbesar?
Pred SQL: SELECT count(*) FROM stadium WHERE capacity = ( SELECT max
True SQL: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

55/1000
Text: Sebutkan nama negara yang berbahasa Inggris dan Perancis.
Pred SQL: SELECT T2.name FROM city AS T1 JOIN government_form AS T
True SQL: SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English" INTERSECT SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "French"

56/1000
Text: Apa nama depan semua pemain, dan peringkat rata-rata mereka?
Pred SQL: SELECT T1.winner_name, T1.rank FROM tourneys AS
True SQL: SELECT avg(ranking) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

57/1000
Text: Temukan nama belakang siswa yang saat ini tinggal di negara bagian North Carolina namun belum terdaftar dalam program gelar apa pun.
Pred SQL: SELECT T1.fname FROM students AS T1 JOIN courses AS T2
True SQL: SELECT T1.last_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.current_address_id  =  T2.address_id WHERE T2.state_province_county  =  'NorthCarolina' EXCEPT SELECT DISTINCT T3.last_name FROM Students AS T3 JOIN Student_Enrolment AS T4 ON T3.student_id  =  T4.student_id

58/1000
Text: Berapa rata-rata berat mobil setiap tahunnya?
Pred SQL: SELECT avg(horsepower) FROM cars
True SQL: SELECT avg(Weight) ,  YEAR FROM CARS_DATA GROUP BY YEAR;

59/1000
Text: Apa nama depan dan nama belakang tenaga profesional yang pernah melakukan pengobatan dengan biaya di bawah rata-rata?
Pred SQL: SELECT T1.fname, T1.lastname FROM owners AS T1
True SQL: SELECT DISTINCT T1.first_name ,  T1.last_name FROM Professionals AS T1 JOIN Treatments AS T2 WHERE cost_of_treatment  <  ( SELECT avg(cost_of_treatment) FROM Treatments )

60/1000
Text: Sebutkan nama guru yang kampung halamannya bukan `` Little Lever Urban District '' .
Pred SQL: SELECT name FROM teacher WHERE hometown = ''Little Lever
True SQL: select name from teacher where hometown != "little lever urban district"

61/1000
Text: Bagi siswa yang mempunyai hewan peliharaan, berapa banyak hewan peliharaan yang dimiliki setiap siswa? daftarkan id mereka alih-alih nama.
Pred SQL: SELECT StuID FROM Student ORDER BY StuID DESC LIMIT
True SQL: select count(*) ,  t1.stuid from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid group by t1.stuid

62/1000
Text: Kapan transkrip pertama dirilis? Cantumkan tanggal dan detailnya.
Pred SQL: SELECT count(*) FROM transcripts
True SQL: SELECT transcript_date ,  other_details FROM Transcripts ORDER BY transcript_date ASC LIMIT 1

63/1000
Text: Apa ID, nama, dan deskripsi semua dokumen?
Pred SQL: SELECT document_id, document_name, document_description FROM
True SQL: SELECT document_id ,  document_name ,  document_description FROM Documents

64/1000
Text: Berapa banyak orkestra yang dikelola setiap perusahaan rekaman?
Pred SQL: SELECT count(*) FROM orchestra
True SQL: SELECT Record_Company ,  COUNT(*) FROM orchestra GROUP BY Record_Company

65/1000
Text: temukan id saluran TV yang tidak memutar kartun apa pun yang disutradarai oleh Ben Jones.
Pred SQL: SELECT tv_series_name FROM tv_series W
True SQL: SELECT id FROM TV_Channel EXCEPT SELECT channel FROM cartoon WHERE directed_by  =  'Ben Jones'

66/1000
Text: saluran TV negara mana yang memutar kartun yang ditulis oleh Todd Casey?
Pred SQL: SELECT DISTINCT T1.title FROM TV_series AS T1
True SQL: SELECT T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.written_by  =  'Todd Casey'

67/1000
Text: Siapakah nama siswa SMA yang mempunyai jumlah like terbanyak?
Pred SQL: SELECT name FROM student WHERE grade > (SELECT max(grade) FROM
True SQL: SELECT T2.name FROM Likes AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1

68/1000
Text: Tunjukkan ID pelajar dan nomor teman yang sesuai masing-masing.
Pred SQL: SELECT T1.id, T1.name FROM student AS T1 JO
True SQL: SELECT student_id ,  count(*) FROM Friend GROUP BY student_id

69/1000
Text: Apa id dan nama masing-masing dokumen, serta jumlah paragraf di masing-masing dokumen?
Pred SQL: SELECT document_id, document_name FROM Documents ORDER BY
True SQL: SELECT T1.document_id ,  T2.document_name ,  count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id GROUP BY T1.document_id

70/1000
Text: daftar semua judul kartun dan sutradaranya diurutkan berdasarkan tanggal tayangnya
Pred SQL: SELECT T1.title, T1.air_date FROM cartoon AS T1
True SQL: SELECT title ,  Directed_by FROM Cartoon ORDER BY Original_air_date

71/1000
Text: Kembalikan jumlah maskapai penerbangan di AS.
Pred SQL: SELECT count(*) FROM airlines WHERE country = "AS"
True SQL: SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"

72/1000
Text: Sebutkan negara di asia yang mempunyai angka harapan hidup terendah.
Pred SQL: SELECT region FROM city WHERE population > (SELECT MAX ( population
True SQL: SELECT Name FROM country WHERE Continent  =  "Asia" ORDER BY LifeExpectancy LIMIT 1

73/1000
Text: Temukan usia rata-rata dan maksimum untuk setiap jenis hewan peliharaan.
Pred SQL: SELECT avg(age), max(weight) FROM pet
True SQL: SELECT avg(pet_age) ,  max(pet_age) ,  pettype FROM pets GROUP BY pettype

74/1000
Text: Berapa banyak hewan peliharaan yang beratnya lebih dari 10?
Pred SQL: SELECT count(*) FROM Student WHERE age > 10
True SQL: SELECT count(*) FROM pets WHERE weight  >  10

75/1000
Text: Apa kewarganegaraan yang dimiliki oleh setidaknya dua orang?
Pred SQL: SELECT Nationality FROM people WHERE Birth_Date > 2
True SQL: SELECT Nationality FROM people GROUP BY Nationality HAVING COUNT(*)  >=  2

76/1000
Text: Maskapai apa yang memiliki penerbangan berangkat dari bandara 'AHD'?

In [ ]:
# Clone the evaluation repo and evaluate
!git clone https://github.com/taoyds/test-suite-sql-eval.git

Cloning into 'test-suite-sql-eval'...
remote: Enumerating objects: 61, done.
remote: Counting objects: 100% (30/30), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 61 (delta 21), reused 16 (delta 16), pack-reused 31 (from 1)
Receiving objects: 100% (61/61), 618.38 KiB | 1.96 MiB/s, done.
Resolving deltas: 100% (25/25), done.

In [ ]:
# Clone the evaluation repo and evaluate
!wget https://github.com/mfazrinizar/mfazrinizar/releases/download/1.0.0/spider.zip
!unzip -l spider.zip

--2024-09-14 04:24:55--  https://github.com/mfazrinizar/mfazrinizar/releases/download/1.0.0/spider.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/745936086/2e16e4c6-8e62-45b8-88f7-9a7ae21ed94a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240914%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240914T042456Z&X-Amz-Expires=300&X-Amz-Signature=f0bc1adba331a493b50053ee49538a07bdc958bc5f7021e9e86b847689a21dc3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=745936086&response-content-disposition=attachment%3B%20filename%3Dspider.zip&response-content-type=application%2Foctet-stream [following]
--2024-09-14 04:24:56--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/745936086/2e16e4c6-8e62-45b8-88f7-9a7ae21ed94a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240914%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240914T042456Z&X-Amz-Expires=300&X-Amz-Signature=f0bc1adba331a493b50053ee49538a07bdc958bc5f7021e9e86b847689a21dc3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=745936086&response-content-disposition=attachment%3B%20filename%3Dspider.zip&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205755115 (196M) [application/octet-stream]
Saving to: ‘spider.zip’

spider.zip          100%[===================>] 196.22M  54.4MB/s    in 3.6s

2024-09-14 04:25:00 (54.0 MB/s) - ‘spider.zip’ saved [205755115/205755115]

Archive:  spider.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
        0  2023-11-30 12:23   spider/
      276  2023-11-30 12:23   __MACOSX/._spider
   124056  2020-06-08 07:50   spider/dev_gold.sql
      176  2020-06-08 07:50   __MACOSX/spider/._dev_gold.sql
        0  2018-09-24 03:27   spider/database/
      176  2018-09-24 03:27   __MACOSX/spider/._database
     6148  2023-11-30 12:28   spider/.DS_Store
      176  2023-11-30 12:28   __MACOSX/spider/._.DS_Store
        0  2023-11-30 12:27   spider/test_data/
      220  2023-11-30 12:27   __MACOSX/spider/._test_data
  8514621  2020-08-03 14:43   spider/train_others.json
      176  2020-08-03 14:43   __MACOSX/spider/._train_others.json
 24928884  2020-08-03 14:49   spider/train_spider.json
      176  2020-08-03 14:49   __MACOSX/spider/._train_spider.json
   810971  2020-08-03 14:50   spider/tables.json
      176  2020-08-03 14:50   __MACOSX/spider/._tables.json
  3629512  2020-08-03 14:41   spider/dev.json
      176  2020-08-03 14:41   __MACOSX/spider/._dev.json
        0  2023-11-30 12:22   spider/test_database/
      220  2023-11-30 12:22   __MACOSX/spider/._test_database
     5944  2020-08-03 14:54   spider/README.txt
      176  2020-08-03 14:54   __MACOSX/spider/._README.txt
  1176039  2018-09-24 03:27   spider/train_gold.sql
      176  2018-09-24 03:27   __MACOSX/spider/._train_gold.sql
        0  2018-09-24 03:27   spider/database/browser_web/
      176  2018-09-24 03:27   __MACOSX/spider/database/._browser_web
        0  2018-09-24 03:27   spider/database/musical/
      176  2018-09-24 03:27   __MACOSX/spider/database/._musical
        0  2018-09-24 03:27   spider/database/farm/
      176  2018-09-24 03:27   __MACOSX/spider/database/._farm
        0  2018-09-24 03:27   spider/database/voter_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._voter_1
        0  2018-09-24 03:27   spider/database/game_injury/
      176  2018-09-24 03:27   __MACOSX/spider/database/._game_injury
        0  2018-09-24 03:27   spider/database/hospital_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._hospital_1
        0  2018-09-24 03:27   spider/database/manufacturer/
      176  2018-09-24 03:27   __MACOSX/spider/database/._manufacturer
        0  2018-09-24 03:27   spider/database/station_weather/
      176  2018-09-24 03:27   __MACOSX/spider/database/._station_weather
        0  2018-09-24 03:27   spider/database/perpetrator/
      176  2018-09-24 03:27   __MACOSX/spider/database/._perpetrator
        0  2018-09-24 03:27   spider/database/storm_record/
      176  2018-09-24 03:27   __MACOSX/spider/database/._storm_record
        0  2018-09-24 03:27   spider/database/flight_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._flight_1
        0  2018-09-24 03:27   spider/database/manufactory_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._manufactory_1
        0  2018-09-24 03:27   spider/database/cre_Theme_park/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cre_Theme_park
        0  2018-09-24 03:27   spider/database/museum_visit/
      176  2018-09-24 03:27   __MACOSX/spider/database/._museum_visit
        0  2018-09-24 03:27   spider/database/race_track/
      176  2018-09-24 03:27   __MACOSX/spider/database/._race_track
        0  2018-09-24 03:27   spider/database/soccer_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._soccer_2
        0  2018-09-24 03:27   spider/database/bike_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._bike_1
        0  2018-09-24 03:27   spider/database/pilot_record/
      176  2018-09-24 03:27   __MACOSX/spider/database/._pilot_record
        0  2018-09-24 03:27   spider/database/customers_and_invoices/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customers_and_invoices
        0  2018-09-24 03:27   spider/database/department_management/
      176  2018-09-24 03:27   __MACOSX/spider/database/._department_management
        0  2018-09-24 03:27   spider/database/news_report/
      176  2018-09-24 03:27   __MACOSX/spider/database/._news_report
        0  2018-09-24 03:27   spider/database/tvshow/
      176  2018-09-24 03:27   __MACOSX/spider/database/._tvshow
        0  2018-09-24 03:27   spider/database/music_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._music_1
        0  2018-09-24 03:27   spider/database/store_product/
      176  2018-09-24 03:27   __MACOSX/spider/database/._store_product
        0  2018-09-24 03:27   spider/database/party_host/
      176  2018-09-24 03:27   __MACOSX/spider/database/._party_host
        0  2018-09-24 03:27   spider/database/ship_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._ship_1
        0  2018-09-24 03:27   spider/database/solvency_ii/
      176  2018-09-24 03:27   __MACOSX/spider/database/._solvency_ii
        0  2018-09-24 03:27   spider/database/products_gen_characteristics/
      176  2018-09-24 03:27   __MACOSX/spider/database/._products_gen_characteristics
        0  2018-09-24 03:27   spider/database/dog_kennels/
      176  2018-09-24 03:27   __MACOSX/spider/database/._dog_kennels
        0  2018-09-24 03:27   spider/database/local_govt_and_lot/
      176  2018-09-24 03:27   __MACOSX/spider/database/._local_govt_and_lot
        0  2018-09-24 03:27   spider/database/culture_company/
      176  2018-09-24 03:27   __MACOSX/spider/database/._culture_company
        0  2018-09-24 03:27   spider/database/aircraft/
      176  2018-09-24 03:27   __MACOSX/spider/database/._aircraft
        0  2018-09-24 03:27   spider/database/wta_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._wta_1
        0  2018-09-24 03:27   spider/database/cinema/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cinema
        0  2018-09-24 03:27   spider/database/formula_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._formula_1
        0  2018-09-24 03:27   spider/database/wine_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._wine_1
        0  2018-09-24 03:27   spider/database/gas_company/
      176  2018-09-24 03:27   __MACOSX/spider/database/._gas_company
        0  2018-09-24 03:27   spider/database/network_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._network_2
        0  2018-09-24 03:27   spider/database/match_season/
      176  2018-09-24 03:27   __MACOSX/spider/database/._match_season
        0  2018-09-24 03:27   spider/database/phone_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._phone_1
        0  2018-09-24 03:27   spider/database/pets_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._pets_1
        0  2018-09-24 03:27   spider/database/tracking_grants_for_research/
      176  2018-09-24 03:27   __MACOSX/spider/database/._tracking_grants_for_research
        0  2018-09-24 03:27   spider/database/party_people/
      176  2018-09-24 03:27   __MACOSX/spider/database/._party_people
        0  2018-09-24 03:27   spider/database/hr_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._hr_1
        0  2018-09-24 03:27   spider/database/scientist_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._scientist_1
        0  2018-09-24 03:27   spider/database/college_3/
      176  2018-09-24 03:27   __MACOSX/spider/database/._college_3
        0  2018-09-24 03:27   spider/database/cre_Doc_Template_Mgt/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cre_Doc_Template_Mgt
        0  2018-09-24 03:27   spider/database/restaurants/
      176  2018-09-24 03:27   __MACOSX/spider/database/._restaurants
        0  2018-09-24 03:27   spider/database/program_share/
      176  2018-09-24 03:27   __MACOSX/spider/database/._program_share
        0  2018-09-24 03:27   spider/database/college_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._college_2
        0  2018-09-24 03:27   spider/database/course_teach/
      176  2018-09-24 03:27   __MACOSX/spider/database/._course_teach
        0  2018-09-24 03:27   spider/database/candidate_poll/
      176  2018-09-24 03:27   __MACOSX/spider/database/._candidate_poll
        0  2018-09-24 03:27   spider/database/cre_Doc_Control_Systems/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cre_Doc_Control_Systems
        0  2018-09-24 03:27   spider/database/wedding/
      176  2018-09-24 03:27   __MACOSX/spider/database/._wedding
        0  2018-09-24 03:27   spider/database/yelp/
      176  2018-09-24 03:27   __MACOSX/spider/database/._yelp
        0  2018-09-24 03:27   spider/database/document_management/
      176  2018-09-24 03:27   __MACOSX/spider/database/._document_management
        0  2018-09-24 03:27   spider/database/loan_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._loan_1
        0  2018-09-24 03:27   spider/database/railway/
      176  2018-09-24 03:27   __MACOSX/spider/database/._railway
        0  2018-09-24 03:27   spider/database/geo/
      176  2018-09-24 03:27   __MACOSX/spider/database/._geo
        0  2018-09-24 03:27   spider/database/sakila_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._sakila_1
        0  2018-09-24 03:27   spider/database/movie_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._movie_1
        0  2018-09-24 03:27   spider/database/flight_company/
      176  2018-09-24 03:27   __MACOSX/spider/database/._flight_company
        0  2018-09-24 03:27   spider/database/csu_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._csu_1
        0  2018-09-24 03:27   spider/database/company_employee/
      176  2018-09-24 03:27   __MACOSX/spider/database/._company_employee
        0  2018-09-24 03:27   spider/database/orchestra/
      176  2018-09-24 03:27   __MACOSX/spider/database/._orchestra
        0  2018-09-24 03:27   spider/database/car_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._car_1
        0  2018-09-24 03:27   spider/database/customers_card_transactions/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customers_card_transactions
        0  2018-09-24 03:27   spider/database/machine_repair/
      176  2018-09-24 03:27   __MACOSX/spider/database/._machine_repair
        0  2018-09-24 03:27   spider/database/shop_membership/
      176  2018-09-24 03:27   __MACOSX/spider/database/._shop_membership
        0  2018-09-24 03:27   spider/database/wrestler/
      176  2018-09-24 03:27   __MACOSX/spider/database/._wrestler
        0  2018-09-24 03:27   spider/database/performance_attendance/
      176  2018-09-24 03:27   __MACOSX/spider/database/._performance_attendance
        0  2018-09-24 03:27   spider/database/debate/
      176  2018-09-24 03:27   __MACOSX/spider/database/._debate
        0  2018-09-24 03:27   spider/database/icfp_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._icfp_1
        0  2018-09-24 03:27   spider/database/e_learning/
      176  2018-09-24 03:27   __MACOSX/spider/database/._e_learning
        0  2018-09-24 03:27   spider/database/customer_deliveries/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customer_deliveries
        0  2018-09-24 03:27   spider/database/academic/
      176  2018-09-24 03:27   __MACOSX/spider/database/._academic
        0  2018-09-24 03:27   spider/database/cre_Doc_Tracking_DB/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cre_Doc_Tracking_DB
        0  2018-09-24 03:27   spider/database/entertainment_awards/
      176  2018-09-24 03:27   __MACOSX/spider/database/._entertainment_awards
        0  2018-09-24 03:27   spider/database/department_store/
      176  2018-09-24 03:27   __MACOSX/spider/database/._department_store
        0  2018-09-24 03:27   spider/database/customers_and_products_contacts/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customers_and_products_contacts
        0  2018-09-24 03:27   spider/database/voter_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._voter_2
        0  2018-09-24 03:27   spider/database/driving_school/
      176  2018-09-24 03:27   __MACOSX/spider/database/._driving_school
        0  2018-09-24 03:27   spider/database/school_finance/
      176  2018-09-24 03:27   __MACOSX/spider/database/._school_finance
        0  2018-09-24 03:27   spider/database/roller_coaster/
      176  2018-09-24 03:27   __MACOSX/spider/database/._roller_coaster
        0  2018-09-24 03:27   spider/database/journal_committee/
      176  2018-09-24 03:27   __MACOSX/spider/database/._journal_committee
        0  2018-09-24 03:27   spider/database/flight_4/
      176  2018-09-24 03:27   __MACOSX/spider/database/._flight_4
        0  2018-09-24 03:27   spider/database/club_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._club_1
        0  2018-09-24 03:27   spider/database/epinions_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._epinions_1
        0  2018-09-24 03:27   spider/database/decoration_competition/
      176  2018-09-24 03:27   __MACOSX/spider/database/._decoration_competition
        0  2018-09-24 03:27   spider/database/architecture/
      176  2018-09-24 03:27   __MACOSX/spider/database/._architecture
        0  2018-09-24 03:27   spider/database/train_station/
      176  2018-09-24 03:27   __MACOSX/spider/database/._train_station
        0  2018-09-24 03:27   spider/database/allergy_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._allergy_1
        0  2018-09-24 03:27   spider/database/soccer_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._soccer_1
        0  2018-09-24 03:27   spider/database/election_representative/
      176  2018-09-24 03:27   __MACOSX/spider/database/._election_representative
        0  2018-09-24 03:27   spider/database/city_record/
      176  2018-09-24 03:27   __MACOSX/spider/database/._city_record
        0  2018-09-24 03:27   spider/database/customers_campaigns_ecommerce/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customers_campaigns_ecommerce
        0  2018-09-24 03:27   spider/database/flight_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._flight_2
        0  2018-09-24 03:27   spider/database/poker_player/
      176  2018-09-24 03:27   __MACOSX/spider/database/._poker_player
        0  2018-09-24 03:27   spider/database/customer_complaints/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customer_complaints
        0  2018-09-24 03:27   spider/database/company_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._company_1
        0  2018-09-24 03:27   spider/database/concert_singer/
      176  2018-09-24 03:27   __MACOSX/spider/database/._concert_singer
        0  2018-09-24 03:27   spider/database/cre_Docs_and_Epenses/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cre_Docs_and_Epenses
        0  2018-09-24 03:27   spider/database/insurance_and_eClaims/
      176  2018-09-24 03:27   __MACOSX/spider/database/._insurance_and_eClaims
        0  2018-09-24 03:27   spider/database/insurance_policies/
      176  2018-09-24 03:27   __MACOSX/spider/database/._insurance_policies
        0  2018-09-24 03:27   spider/database/county_public_safety/
      176  2018-09-24 03:27   __MACOSX/spider/database/._county_public_safety
        0  2018-09-24 03:27   spider/database/baseball_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._baseball_1
        0  2018-09-24 03:27   spider/database/imdb/
      176  2018-09-24 03:27   __MACOSX/spider/database/._imdb
        0  2018-09-24 03:27   spider/database/music_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._music_2
        0  2018-09-24 03:27   spider/database/network_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._network_1
        0  2018-09-24 03:27   spider/database/climbing/
      176  2018-09-24 03:27   __MACOSX/spider/database/._climbing
        0  2018-09-24 03:27   spider/database/swimming/
      176  2018-09-24 03:27   __MACOSX/spider/database/._swimming
        0  2018-09-24 03:27   spider/database/customers_and_addresses/
      176  2018-09-24 03:27   __MACOSX/spider/database/._customers_and_addresses
        0  2018-09-24 03:27   spider/database/tracking_share_transactions/
      176  2018-09-24 03:27   __MACOSX/spider/database/._tracking_share_transactions
        0  2018-09-24 03:27   spider/database/game_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._game_1
        0  2018-09-24 03:27   spider/database/cre_Drama_Workshop_Groups/
      176  2018-09-24 03:27   __MACOSX/spider/database/._cre_Drama_Workshop_Groups
        0  2018-09-24 03:27   spider/database/election/
      176  2018-09-24 03:27   __MACOSX/spider/database/._election
        0  2018-09-24 03:27   spider/database/book_2/
      176  2018-09-24 03:27   __MACOSX/spider/database/._book_2
        0  2018-09-24 03:27   spider/database/music_4/
      176  2018-09-24 03:27   __MACOSX/spider/database/._music_4
        0  2018-09-24 03:27   spider/database/small_bank_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._small_bank_1
        0  2018-09-24 03:27   spider/database/local_govt_in_alabama/
      176  2018-09-24 03:27   __MACOSX/spider/database/._local_govt_in_alabama
        0  2018-09-24 03:27   spider/database/device/
      176  2018-09-24 03:27   __MACOSX/spider/database/._device
        0  2018-09-24 03:27   spider/database/sports_competition/
      176  2018-09-24 03:27   __MACOSX/spider/database/._sports_competition
        0  2018-09-24 03:27   spider/database/workshop_paper/
      176  2018-09-24 03:27   __MACOSX/spider/database/._workshop_paper
        0  2018-09-24 03:27   spider/database/tracking_orders/
      176  2018-09-24 03:27   __MACOSX/spider/database/._tracking_orders
        0  2018-09-24 03:27   spider/database/school_bus/
      176  2018-09-24 03:27   __MACOSX/spider/database/._school_bus
        0  2018-09-24 03:27   spider/database/protein_institute/
      176  2018-09-24 03:27   __MACOSX/spider/database/._protein_institute
        0  2018-09-24 03:27   spider/database/activity_1/
      176  2018-09-24 03:27   __MACOSX/spider/database/._activity_1
        0  2018-09-24 03:27   spider/database/phone_market/

In [ ]:
!unzip spider.zip 'spider/*'

Archive:  spider.zip
   creating: spider/
  inflating: spider/dev_gold.sql
   creating: spider/database/
  inflating: spider/.DS_Store
   creating: spider/test_data/
  inflating: spider/train_others.json
  inflating: spider/train_spider.json
  inflating: spider/tables.json
  inflating: spider/dev.json
   creating: spider/test_database/
  inflating: spider/README.txt
  inflating: spider/train_gold.sql
   creating: spider/database/browser_web/
   creating: spider/database/musical/
   creating: spider/database/farm/
   creating: spider/database/voter_1/
   creating: spider/database/game_injury/
   creating: spider/database/hospital_1/
   creating: spider/database/manufacturer/
   creating: spider/database/station_weather/
   creating: spider/database/perpetrator/
   creating: spider/database/storm_record/
   creating: spider/database/flight_1/
   creating: spider/database/manufactory_1/
   creating: spider/database/cre_Theme_park/
   creating: spider/database/museum_visit/
   creating: spider/database/race_track/
   creating: spider/database/soccer_2/
   creating: spider/database/bike_1/
   creating: spider/database/pilot_record/
   creating: spider/database/customers_and_invoices/
   creating: spider/database/department_management/
   creating: spider/database/news_report/
   creating: spider/database/tvshow/
   creating: spider/database/music_1/
   creating: spider/database/store_product/
   creating: spider/database/party_host/
   creating: spider/database/ship_1/
   creating: spider/database/solvency_ii/
   creating: spider/database/products_gen_characteristics/
   creating: spider/database/dog_kennels/
   creating: spider/database/local_govt_and_lot/
   creating: spider/database/culture_company/
   creating: spider/database/aircraft/
   creating: spider/database/wta_1/
   creating: spider/database/cinema/
   creating: spider/database/formula_1/
   creating: spider/database/wine_1/
   creating: spider/database/gas_company/
   creating: spider/database/network_2/
   creating: spider/database/match_season/
   creating: spider/database/phone_1/
   creating: spider/database/pets_1/
   creating: spider/database/tracking_grants_for_research/
   creating: spider/database/party_people/
   creating: spider/database/hr_1/
   creating: spider/database/scientist_1/
   creating: spider/database/college_3/
   creating: spider/database/cre_Doc_Template_Mgt/
   creating: spider/database/restaurants/
   creating: spider/database/program_share/
   creating: spider/database/college_2/
   creating: spider/database/course_teach/
   creating: spider/database/candidate_poll/
   creating: spider/database/cre_Doc_Control_Systems/
   creating: spider/database/wedding/
   creating: spider/database/yelp/
   creating: spider/database/document_management/
   creating: spider/database/loan_1/
   creating: spider/database/railway/
   creating: spider/database/geo/
   creating: spider/database/sakila_1/
   creating: spider/database/movie_1/
   creating: spider/database/flight_company/
   creating: spider/database/csu_1/
   creating: spider/database/company_employee/
   creating: spider/database/orchestra/
   creating: spider/database/car_1/
   creating: spider/database/customers_card_transactions/
   creating: spider/database/machine_repair/
   creating: spider/database/shop_membership/
   creating: spider/database/wrestler/
   creating: spider/database/performance_attendance/
   creating: spider/database/debate/
   creating: spider/database/icfp_1/
   creating: spider/database/e_learning/
   creating: spider/database/customer_deliveries/
   creating: spider/database/academic/
   creating: spider/database/cre_Doc_Tracking_DB/
   creating: spider/database/entertainment_awards/
   creating: spider/database/department_store/
   creating: spider/database/customers_and_products_contacts/
   creating: spider/database/voter_2/
   creating: spider/database/driving_school/
   creating: spider/database/school_finance/
   creating: spider/database/roller_coaster/
   creating: spider/database/journal_committee/
   creating: spider/database/flight_4/
   creating: spider/database/club_1/
   creating: spider/database/epinions_1/
   creating: spider/database/decoration_competition/
   creating: spider/database/architecture/
   creating: spider/database/train_station/
   creating: spider/database/allergy_1/
   creating: spider/database/soccer_1/
   creating: spider/database/election_representative/
   creating: spider/database/city_record/
   creating: spider/database/customers_campaigns_ecommerce/
   creating: spider/database/flight_2/
   creating: spider/database/poker_player/
   creating: spider/database/customer_complaints/
   creating: spider/database/company_1/
   creating: spider/database/concert_singer/
   creating: spider/database/cre_Docs_and_Epenses/
   creating: spider/database/insurance_and_eClaims/
   creating: spider/database/insurance_policies/
   creating: spider/database/county_public_safety/
   creating: spider/database/baseball_1/
   creating: spider/database/imdb/
   creating: spider/database/music_2/
   creating: spider/database/network_1/
   creating: spider/database/climbing/
   creating: spider/database/swimming/
   creating: spider/database/customers_and_addresses/
   creating: spider/database/tracking_share_transactions/
   creating: spider/database/game_1/
   creating: spider/database/cre_Drama_Workshop_Groups/
   creating: spider/database/election/
   creating: spider/database/book_2/
   creating: spider/database/music_4/
   creating: spider/database/small_bank_1/
   creating: spider/database/local_govt_in_alabama/
   creating: spider/database/device/
   creating: spider/database/sports_competition/
   creating: spider/database/workshop_paper/
   creating: spider/database/tracking_orders/
   creating: spider/database/school_bus/
   creating: spider/database/protein_institute/
   creating: spider/database/activity_1/
   creating: spider/database/phone_market/
   creating: spider/database/entrepreneur/
   creating: spider/database/apartment_rentals/
   creating: spider/database/medicine_enzyme_interaction/
   creating: spider/database/gymnast/
   creating: spider/database/student_1/
   creating: spider/database/store_1/
   creating: spider/database/employee_hire_evaluation/
   creating: spider/database/college_1/
   creating: spider/database/local_govt_mdm/
   creating: spider/database/company_office/
   creating: spider/database/battle_death/
   creating: spider/database/dorm_1/
   creating: spider/database/products_for_hire/
   creating: spider/database/coffee_shop/
   creating: spider/database/singer/
   creating: spider/database/chinook_1/
   creating: spider/database/behavior_monitoring/
   creating: spider/database/world_1/
   creating: spider/database/university_basketball/
   creating: spider/database/mountain_photos/
   creating: spider/database/scholar/
   creating: spider/database/product_catalog/
   creating: spider/database/real_estate_properties/
   creating: spider/database/student_transcripts_tracking/
   creating: spider/database/film_rank/
   creating: spider/database/theme_gallery/
   creating: spider/database/e_government/
   creating: spider/database/insurance_fnol/
   creating: spider/database/restaurant_1/
   creating: spider/database/inn_1/
   creating: spider/database/tracking_software_problems/
   creating: spider/database/riding_club/
   creating: spider/database/ship_mission/
   creating: spider/database/student_assessment/
   creating: spider/database/assets_maintenance/
   creating: spider/database/twitter_1/
   creating: spider/database/body_builder/
   creating: spider/database/school_player/
  inflating: spider/test_data/dev_gold.sql
  inflating: spider/test_data/.DS_Store
  inflating: spider/test_data/tables.json
  inflating: spider/test_data/dev.json
   creating: spider/test_database/browser_web/
   creating: spider/test_database/musical/
   creating: spider/test_database/country_language/
   creating: spider/test_database/farm/
   creating: spider/test_database/voter_1/
   creating: spider/test_database/game_injury/
   creating: spider/test_database/hospital_1/
   creating: spider/test_database/manufacturer/
   creating: spider/test_database/station_weather/
   creating: spider/test_database/perpetrator/
   creating: spider/test_database/soccer_3/
   creating: spider/test_database/storm_record/
   creating: spider/test_database/flight_1/
   creating: spider/test_database/manufactory_1/
   creating: spider/test_database/cre_Theme_park/
   creating: spider/test_database/museum_visit/
   creating: spider/test_database/race_track/
   creating: spider/test_database/soccer_2/
   creating: spider/test_database/bike_1/
   creating: spider/test_database/bbc_channels/
   creating: spider/test_database/pilot_record/
   creating: spider/test_database/customers_and_invoices/
   creating: spider/test_database/boat_1/
   creating: spider/test_database/department_management/
   creating: spider/test_database/news_report/
   creating: spider/test_database/cre_Doc_and_collections/
   creating: spider/test_database/government_shift/
   creating: spider/test_database/tvshow/
   creating: spider/test_database/music_1/
   creating: spider/test_database/store_product/
   creating: spider/test_database/region_building/
   creating: spider/test_database/party_host/
   creating: spider/test_database/ship_1/
   creating: spider/test_database/solvency_ii/
   creating: spider/test_database/products_gen_characteristics/
   creating: spider/test_database/dog_kennels/
   creating: spider/test_database/local_govt_and_lot/
   creating: spider/test_database/conference/
   creating: spider/test_database/video_game/
   creating: spider/test_database/culture_company/
   creating: spider/test_database/aircraft/
   creating: spider/test_database/book_1/
   creating: spider/test_database/wta_1/
   creating: spider/test_database/cinema/
   creating: spider/test_database/e_commerce/
   creating: spider/test_database/formula_1/
   creating: spider/test_database/wine_1/
   creating: spider/test_database/gas_company/
   creating: spider/test_database/district_spokesman/
   creating: spider/test_database/customers_and_orders/
   creating: spider/test_database/network_2/
   creating: spider/test_database/match_season/
   creating: spider/test_database/phone_1/
   creating: spider/test_database/car_road_race/
   creating: spider/test_database/pets_1/
   creating: spider/test_database/tracking_grants_for_research/
   creating: spider/test_database/party_people/
   creating: spider/test_database/hr_1/
   creating: spider/test_database/pilot_1/
   creating: spider/test_database/scientist_1/
   creating: spider/test_database/college_3/
   creating: spider/test_database/cre_Doc_Template_Mgt/
   creating: spider/test_database/restaurants/
   creating: spider/test_database/program_share/
   creating: spider/test_database/advertising_agencies/
   creating: spider/test_database/college_2/
   creating: spider/test_database/course_teach/
   creating: spider/test_database/candidate_poll/
   creating: spider/test_database/cre_Doc_Control_Systems/
   creating: spider/test_database/wedding/
   creating: spider/test_database/cre_Doc_Workflow/
   creating: spider/test_database/car_racing/
   creating: spider/test_database/yelp/
   creating: spider/test_database/document_management/
   creating: spider/test_database/aan_1/
   creating: spider/test_database/loan_1/
   creating: spider/test_database/railway/
   creating: spider/test_database/geo/
   creating: spider/test_database/restaurant_bills/
   creating: spider/test_database/sakila_1/
   creating: spider/test_database/headphone_store/
   creating: spider/test_database/movie_1/
   creating: spider/test_database/flight_company/
   creating: spider/test_database/csu_1/
   creating: spider/test_database/company_employee/
   creating: spider/test_database/orchestra/
   creating: spider/test_database/car_1/
   creating: spider/test_database/vehicle_driver/
   creating: spider/test_database/address_1/
   creating: spider/test_database/customers_card_transactions/
   creating: spider/test_database/machine_repair/
   creating: spider/test_database/real_estate_rentals/
   creating: spider/test_database/shop_membership/
   creating: spider/test_database/wrestler/
   creating: spider/test_database/performance_attendance/
   creating: spider/test_database/debate/
   creating: spider/test_database/icfp_1/
   creating: spider/test_database/e_learning/
   creating: spider/test_database/customer_deliveries/
   creating: spider/test_database/academic/
   creating: spider/test_database/cre_Doc_Tracking_DB/
   creating: spider/test_database/club_leader/
   creating: spider/test_database/art_1/
   creating: spider/test_database/cre_Students_Information_Systems/
   creating: spider/test_database/entertainment_awards/
   creating: spider/test_database/department_store/
   creating: spider/test_database/customers_and_products_contacts/
   creating: spider/test_database/vehicle_rent/
   creating: spider/test_database/voter_2/
   creating: spider/test_database/bakery_1/
   creating: spider/test_database/driving_school/
   creating: spider/test_database/school_finance/
   creating: spider/test_database/roller_coaster/
   creating: spider/test_database/journal_committee/
   creating: spider/test_database/flight_4/
   creating: spider/test_database/club_1/
   creating: spider/test_database/epinions_1/
   creating: spider/test_database/decoration_competition/
   creating: spider/test_database/warehouse_1/
   creating: spider/test_database/architecture/
   creating: spider/test_database/train_station/
   creating: spider/test_database/allergy_1/
   creating: spider/test_database/soccer_1/
   creating: spider/test_database/institution_sports/
   creating: spider/test_database/election_representative/
   creating: spider/test_database/city_record/
   creating: spider/test_database/customers_campaigns_ecommerce/
   creating: spider/test_database/flight_2/
   creating: spider/test_database/poker_player/
   creating: spider/test_database/customer_complaints/
   creating: spider/test_database/company_1/
   creating: spider/test_database/concert_singer/
   creating: spider/test_database/bike_racing/
   creating: spider/test_database/tv_shows/
   creating: spider/test_database/cre_Docs_and_Epenses/
   creating: spider/test_database/insurance_and_eClaims/
   creating: spider/test_database/insurance_policies/
   creating: spider/test_database/county_public_safety/
   creating: spider/test_database/baseball_1/
   creating: spider/test_database/imdb/
   creating: spider/test_database/music_2/
   creating: spider/test_database/network_1/
   creating: spider/test_database/climbing/
   creating: spider/test_database/swimming/
   creating: spider/test_database/customers_and_addresses/
   creating: spider/test_database/tracking_share_transactions/
   creating: spider/test_database/game_1/
   creating: spider/test_database/cre_Drama_Workshop_Groups/
   creating: spider/test_database/election/
   creating: spider/test_database/book_2/
   creating: spider/test_database/music_4/
   creating: spider/test_database/small_bank_1/
   creating: spider/test_database/local_govt_in_alabama/
   creating: spider/test_database/device/
   creating: spider/test_database/sports_competition/
   creating: spider/test_database/workshop_paper/
   creating: spider/test_database/tracking_orders/
   creating: spider/test_database/school_bus/
   creating: spider/test_database/protein_institute/
   creating: spider/test_database/activity_1/
   creating: spider/test_database/phone_market/
   creating: spider/test_database/entrepreneur/
   creating: spider/test_database/apartment_rentals/
   creating: spider/test_database/medicine_enzyme_interaction/
   creating: spider/test_database/gymnast/
   creating: spider/test_database/student_1/
   creating: spider/test_database/store_1/
   creating: spider/test_database/planet_1/
   creating: spider/test_database/employee_hire_evaluation/
   creating: spider/test_database/college_1/
   creating: spider/test_database/local_govt_mdm/
   creating: spider/test_database/company_office/
   creating: spider/test_database/battle_death/
   creating: spider/test_database/dorm_1/
   creating: spider/test_database/products_for_hire/
   creating: spider/test_database/movie_2/
   creating: spider/test_database/coffee_shop/
   creating: spider/test_database/singer/
   creating: spider/test_database/chinook_1/
   creating: spider/test_database/behavior_monitoring/
   creating: spider/test_database/world_1/
   creating: spider/test_database/sing_contest/
   creating: spider/test_database/university_basketball/
   creating: spider/test_database/mountain_photos/
   creating: spider/test_database/scholar/
   creating: spider/test_database/product_catalog/
   creating: spider/test_database/real_estate_properties/
   creating: spider/test_database/student_transcripts_tracking/
   creating: spider/test_database/book_review/
   creating: spider/test_database/film_rank/
   creating: spider/test_database/theme_gallery/
   creating: spider/test_database/online_exams/
   creating: spider/test_database/university_rank/
   creating: spider/test_database/book_press/
   creating: spider/test_database/e_government/
   creating: spider/test_database/insurance_fnol/
   creating: spider/test_database/restaurant_1/
   creating: spider/test_database/inn_1/
   creating: spider/test_database/tracking_software_problems/
   creating: spider/test_database/riding_club/
   creating: spider/test_database/ship_mission/
   creating: spider/test_database/student_assessment/
   creating: spider/test_database/assets_maintenance/
   creating: spider/test_database/twitter_1/
   creating: spider/test_database/body_builder/
   creating: spider/test_database/school_player/
  inflating: spider/database/browser_web/browser_web.sqlite
  inflating: spider/database/browser_web/schema.sql
  inflating: spider/database/musical/musical.sqlite
  inflating: spider/database/musical/schema.sql
  inflating: spider/database/farm/schema.sql
  inflating: spider/database/farm/farm.sqlite
  inflating: spider/database/voter_1/voter_1.sqlite
  inflating: spider/database/game_injury/schema.sql
  inflating: spider/database/game_injury/game_injury.sqlite
  inflating: spider/database/hospital_1/schema.sql
  inflating: spider/database/hospital_1/hospital_1.sqlite
  inflating: spider/database/manufacturer/schema.sql
  inflating: spider/database/manufacturer/manufacturer.sqlite
  inflating: spider/database/station_weather/station_weather.sqlite
  inflating: spider/database/station_weather/schema.sql
  inflating: spider/database/perpetrator/schema.sql
  inflating: spider/database/perpetrator/perpetrator.sqlite
  inflating: spider/database/storm_record/storm_record.sqlite
  inflating: spider/database/storm_record/schema.sql
  inflating: spider/database/flight_1/schema.sql
  inflating: spider/database/flight_1/flight_1.sqlite
  inflating: spider/database/manufactory_1/schema.sql
  inflating: spider/database/manufactory_1/manufactory_1.sqlite
  inflating: spider/database/cre_Theme_park/schema.sql
  inflating: spider/database/cre_Theme_park/cre_Theme_park.sqlite
  inflating: spider/database/museum_visit/museum_visit.sqlite
  inflating: spider/database/museum_visit/schema.sql
  inflating: spider/database/race_track/schema.sql
  inflating: spider/database/race_track/race_track.sqlite
  inflating: spider/database/soccer_2/schema.sql
  inflating: spider/database/soccer_2/soccer_2.sqlite
  inflating: spider/database/bike_1/schema.sql
  inflating: spider/database/bike_1/bike_1.sqlite
  inflating: spider/database/pilot_record/pilot_record.sqlite
  inflating: spider/database/pilot_record/schema.sql
  inflating: spider/database/customers_and_invoices/schema.sql
  inflating: spider/database/customers_and_invoices/customers_and_invoices.sqlite
  inflating: spider/database/department_management/schema.sql

In [ ]:
# Run the evaluation
!python test-suite-sql-eval/evaluation.py --gold gold.txt --pred pred.txt --db spider/database --table /content/drive/MyDrive/idspider-question/tables.json --etype all

extra pred: SELECT airport_code FROM airports GROUP BY airport_code ORDER
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1

medium pred: SELECT count(*) FROM Student WHERE age > 20
medium gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20

easy pred: SELECT avg(degree_summary_name) FROM transcripts
easy gold: SELECT avg(transcript_date) FROM Transcripts

medium pred: SELECT name FROM ship WHERE ship_type = 'Bulgaria
medium gold: SELECT name FROM battle WHERE bulgarian_commander  =  'Kaloyan' AND latin_commander  =  'Baldwin I'

medium pred: SELECT T1.fname, T1.lastname FROM players AS T1
medium gold: SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

hard pred: SELECT name FROM employee WHERE age > (SELECT max(age) FROM
hard gold: SELECT name FROM shop WHERE shop_id NOT IN (SELECT shop_id FROM hiring)

medium pred: SELECT count(*) FROM airports WHERE city = "Aberde
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

extra pred: SELECT id, full_name FROM countries WHERE country_name
extra gold: select t1.countryid ,  t1.countryname from countries as t1 join car_makers as t2 on t1.countryid  =  t2.country group by t1.countryid having count(*)  >  3 union select t1.countryid ,  t1.countryname from countries as t1 join car_makers as t2 on t1.countryid  =  t2.country join model_list as t3 on t2.id  =  t3.maker where t3.model  =  'fiat';

medium pred: SELECT name, grade FROM student ORDER BY grade DESC LIMIT 1
medium gold: SELECT name ,  grade FROM Highschooler

extra pred: SELECT T1.fname, T1.lname FROM Student AS T1
extra gold: SELECT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

extra pred: SELECT major, weight FROM Student GROUP BY major
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

hard pred: SELECT model FROM models WHERE horsepower > (SELECT max(hors
hard gold: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id ORDER BY T2.horsepower ASC LIMIT 1;

extra pred: SELECT city FROM airports WHERE airport_code = "bangkok
extra gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

extra pred: SELECT count(*) FROM airports WHERE airport_name = "A
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"

easy pred: SELECT count(*) FROM DEPARTMENTS WHERE department_id
easy gold: SELECT count(DISTINCT department_id) FROM Degree_Programs

medium pred: SELECT T1.series_name, T1.language FROM tv_
medium gold: SELECT Episode ,  Rating FROM TV_series ORDER BY Rating DESC LIMIT 3;

hard pred: SELECT count(*) FROM concert
hard gold: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

extra pred: SELECT count(*) FROM transcripts AS T1 JOIN courses AS T
extra gold: SELECT T2.transcript_date ,  T1.transcript_id FROM Transcript_Contents AS T1 JOIN Transcripts AS T2 ON T1.transcript_id  =  T2.transcript_id GROUP BY T1.transcript_id ORDER BY count(*) ASC LIMIT 1

easy pred: SELECT count(*) FROM airports WHERE airport_name = '
easy gold: SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"

easy pred: SELECT count(*) FROM city WHERE population > ( SELECT
easy gold: SELECT count(DISTINCT LANGUAGE) FROM countrylanguage

hard pred: SELECT Birth_Date FROM poker_player ORDER BY Birth_Date
hard gold: SELECT T1.Birth_Date FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings ASC LIMIT 1

easy pred: SELECT avg(population) FROM city WHERE country_code
easy gold: SELECT avg(LifeExpectancy) FROM country WHERE Region  =  "Central Africa"

medium pred: SELECT T1.fname, T1.lastname FROM students AS T1
medium gold: SELECT first_name ,  middle_name ,  last_name FROM Students ORDER BY date_left ASC LIMIT 1

easy pred: SELECT count(*) FROM tourneys
easy gold: SELECT count(*) FROM players

extra pred: SELECT airport_code FROM airports WHERE country = "Austria"
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1

hard pred: SELECT T1.fname, T1.country_code FROM tourneys AS
hard gold: SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

easy pred: SELECT count(DISTINCT country) FROM tv_channel
easy gold: SELECT count(*) FROM TV_Channel WHERE LANGUAGE = "English";

extra pred: SELECT name FROM employee ORDER BY count(*) DESC LIMIT 1
extra gold: SELECT t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t1.shop_id ORDER BY count(*) DESC LIMIT 1

easy pred: SELECT count(*) FROM orchestra
easy gold: SELECT Record_Company FROM orchestra ORDER BY Year_of_Founded DESC

hard pred: SELECT name FROM highschoolER ORDER BY grade DESC LIMIT 1
hard gold: SELECT T3.name FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id JOIN Highschooler AS T3 ON T1.friend_id  =  T3.id WHERE T2.name  =  "Kyle"

medium pred: SELECT T2.Song_Name, T2.Song_Name FROM song
medium gold: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

extra pred: SELECT population FROM country WHERE region = "Asia" AND region
extra gold: SELECT Name FROM country WHERE Continent  =  "Asia"  AND population  >  (SELECT min(population) FROM country WHERE Continent  =  "Africa")

easy pred: SELECT Name FROM conductor ORDER BY Age DESC LIMIT 1
easy gold: SELECT Name FROM conductor ORDER BY Age ASC

easy pred: SELECT count(*) FROM cars WHERE horsepower > 6
easy gold: SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders  >  6;

medium pred: SELECT population, population FROM city WHERE country_code = "bras
medium gold: SELECT Population ,  LifeExpectancy FROM country WHERE Name  =  "Brazil"

easy pred: SELECT count(*) FROM tourneys
easy gold: SELECT count(*) FROM matches

medium pred: SELECT template_type_code, document_type_description FROM Templates
medium gold: SELECT template_type_code ,  template_type_description FROM Ref_template_types

easy pred: SELECT T1.name FROM singer AS T1 JOIN song AS T2 ON
easy gold: SELECT Name FROM singer WHERE Citizenship != "France"

hard pred: SELECT count(*) FROM cars WHERE speed > (SELECT max(
hard gold: SELECT COUNT(*) FROM CARS_DATA WHERE Accelerate  >  ( SELECT Accelerate FROM CARS_DATA ORDER BY Horsepower DESC LIMIT 1 );

hard pred: SELECT count(*) FROM airlines WHERE airport_name = "Aber
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

extra pred: SELECT count(*) FROM dogs WHERE breed_code = "aband
extra gold: SELECT count(*) FROM Owners WHERE owner_id NOT IN ( SELECT owner_id FROM Dogs )

easy pred: SELECT country_code FROM country WHERE language = "english"
easy gold: SELECT DISTINCT CountryCode FROM countrylanguage WHERE LANGUAGE != "English"

extra pred: SELECT template_type_code FROM Templates GROUP BY template_type
extra gold: SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code ORDER BY count(*) DESC LIMIT 1

hard pred: SELECT model FROM models WHERE YEAR > 1980
hard gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

medium pred: SELECT full_name, model FROM cars_data WHERE model_i
medium gold: SELECT T1.FullName ,  T1.Id ,  count(*) FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;

medium pred: SELECT name FROM teacher WHERE age > 32 OR age  33
medium gold: SELECT Name FROM teacher WHERE Age  =  32 OR Age  =  33

extra pred: SELECT full_name FROM countries WHERE year > 1970
extra gold: SELECT DISTINCT T1.Maker FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker JOIN CAR_NAMES AS T3 ON T2.model  =  T3.model JOIN CARS_DATA AS T4 ON T3.MakeId  =  T4.id WHERE T4.year  =  '1970';

medium pred: SELECT document_id, document_id FROM Documents GROUP
medium gold: SELECT document_id ,  count(*) FROM Paragraphs GROUP BY document_id ORDER BY document_id

easy pred: SELECT count(*) FROM student
easy gold: SELECT grade FROM Highschooler

easy pred: SELECT template_type_description FROM Templates WHERE document_id
easy gold: SELECT template_type_code FROM Ref_template_types WHERE template_type_description  =  "Book"

medium pred: SELECT max(share), min(share) FROM tv_serie
medium gold: SELECT max(SHARE) , min(SHARE) FROM TV_series;

medium pred: SELECT name, district FROM employee WHERE name LIKE '%Pro
medium gold: SELECT manager_name ,  district FROM shop ORDER BY number_products DESC LIMIT 1

easy pred: SELECT Name FROM conductor WHERE Nationality = "AS"
easy gold: SELECT Name FROM conductor WHERE Nationality != 'USA'

hard pred: SELECT count(*) FROM stadium WHERE capacity = ( SELECT max
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

extra pred: SELECT T2.name FROM city AS T1 JOIN government_form AS T
extra gold: SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English" INTERSECT SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "French"

medium pred: SELECT T1.winner_name, T1.rank FROM tourneys AS
medium gold: SELECT avg(ranking) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

extra pred: SELECT T1.fname FROM students AS T1 JOIN courses AS T2
extra gold: SELECT T1.last_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.current_address_id  =  T2.address_id WHERE T2.state_province_county  =  'NorthCarolina' EXCEPT SELECT DISTINCT T3.last_name FROM Students AS T3 JOIN Student_Enrolment AS T4 ON T3.student_id  =  T4.student_id

medium pred: SELECT avg(horsepower) FROM cars
medium gold: SELECT avg(Weight) ,  YEAR FROM CARS_DATA GROUP BY YEAR;

extra pred: SELECT T1.fname, T1.lastname FROM owners AS T1
extra gold: SELECT DISTINCT T1.first_name ,  T1.last_name FROM Professionals AS T1 JOIN Treatments AS T2 WHERE cost_of_treatment  <  ( SELECT avg(cost_of_treatment) FROM Treatments )

easy pred: SELECT name FROM teacher WHERE hometown = ''Little Lever
easy gold: select name from teacher where hometown != "little lever urban district"

medium pred: SELECT StuID FROM Student ORDER BY StuID DESC LIMIT
medium gold: select count(*) ,  t1.stuid from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid group by t1.stuid

medium pred: SELECT count(*) FROM transcripts
medium gold: SELECT transcript_date ,  other_details FROM Transcripts ORDER BY transcript_date ASC LIMIT 1

medium pred: SELECT document_id, document_name, document_description FROM
medium gold: SELECT document_id ,  document_name ,  document_description FROM Documents

medium pred: SELECT count(*) FROM orchestra
medium gold: SELECT Record_Company ,  COUNT(*) FROM orchestra GROUP BY Record_Company

hard pred: SELECT tv_series_name FROM tv_series W
hard gold: SELECT id FROM TV_Channel EXCEPT SELECT channel FROM cartoon WHERE directed_by  =  'Ben Jones'

medium pred: SELECT DISTINCT T1.title FROM TV_series AS T1
medium gold: SELECT T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.written_by  =  'Todd Casey'

extra pred: SELECT name FROM student WHERE grade > (SELECT max(grade) FROM
extra gold: SELECT T2.name FROM Likes AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1

medium pred: SELECT T1.id, T1.name FROM student AS T1 JO
medium gold: SELECT student_id ,  count(*) FROM Friend GROUP BY student_id

medium pred: SELECT document_id, document_name FROM Documents ORDER BY
medium gold: SELECT T1.document_id ,  T2.document_name ,  count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id GROUP BY T1.document_id

medium pred: SELECT T1.title, T1.air_date FROM cartoon AS T1
medium gold: SELECT title ,  Directed_by FROM Cartoon ORDER BY Original_air_date

hard pred: SELECT region FROM city WHERE population > (SELECT MAX ( population
hard gold: SELECT Name FROM country WHERE Continent  =  "Asia" ORDER BY LifeExpectancy LIMIT 1

medium pred: SELECT avg(age), max(weight) FROM pet
medium gold: SELECT avg(pet_age) ,  max(pet_age) ,  pettype FROM pets GROUP BY pettype

easy pred: SELECT count(*) FROM Student WHERE age > 10
easy gold: SELECT count(*) FROM pets WHERE weight  >  10

easy pred: SELECT Nationality FROM people WHERE Birth_Date > 2
easy gold: SELECT Nationality FROM people GROUP BY Nationality HAVING COUNT(*)  >=  2

medium pred: SELECT count(*) FROM airports WHERE airport_name = '
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"

medium pred: SELECT T2.name, T2.population, T2.name FROM city
medium gold: SELECT Name ,  population ,  HeadOfState FROM country ORDER BY SurfaceArea DESC LIMIT 1

easy pred: SELECT count(*) FROM employee
easy gold: SELECT count(DISTINCT LOCATION) FROM shop

medium pred: SELECT T1.fname, T1.pet_type FROM Student AS T1
medium gold: SELECT T1.fname ,  T1.sex FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1

medium pred: SELECT count(*) FROM likes WHERE grade > 9 OR grade >
medium gold: SELECT count(*) FROM Highschooler WHERE grade  =  9 OR grade  =  10

medium pred: SELECT T1.name FROM singer AS T1 JOIN song AS T2 ON
medium gold: SELECT DISTINCT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T2.Sales  >  300000

extra pred: SELECT name FROM student WHERE grade = 'SMA'
extra gold: SELECT T2.name FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1

hard pred: SELECT model FROM models WHERE YEAR = 1980
hard gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

easy pred: SELECT count(*) FROM dogs
easy gold: SELECT max(age) FROM Dogs

medium pred: SELECT T1.treatment_type_description, T1.treatment_type_
medium gold: SELECT DISTINCT breed_code ,  size_code FROM dogs

hard pred: SELECT T1.winner_name, T1.pname FROM tourneys
hard gold: SELECT winner_name ,  winner_rank_points FROM matches GROUP BY winner_name ORDER BY count(*) DESC LIMIT 1

easy pred: SELECT Nationality FROM poker_player ORDER BY Nationality DESC LIMIT
easy gold: SELECT Earnings FROM poker_player ORDER BY Earnings DESC

hard pred: SELECT Name FROM orchestra ORDER BY Official_Ratings (millions)
hard gold: SELECT Orchestra FROM orchestra WHERE Orchestra_ID NOT IN (SELECT Orchestra_ID FROM performance)

extra pred: SELECT document_id, document_name FROM Documents GROUP B
extra gold: SELECT T1.document_id ,  T2.document_name FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id GROUP BY T1.document_id ORDER BY count(*) DESC LIMIT 1

extra pred: SELECT model FROM cars WHERE model = "4 silinder" AND model
extra gold: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.Cylinders  =  4 ORDER BY T2.horsepower DESC LIMIT 1;

hard pred: SELECT document_id FROM Documents WHERE document_id =
hard gold: SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Brazil' INTERSECT SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Ireland'

medium pred: SELECT document_id, document_type_description FROM Documents W
medium gold: SELECT T1.paragraph_id ,   T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.Document_Name  =  'Welcome to NY'

medium pred: SELECT flight_number FROM airlines WHERE airline = "Jetblue
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

easy pred: SELECT count(*) FROM people
easy gold: SELECT count(DISTINCT Nationality) FROM people

medium pred: SELECT name, LOCATION, district FROM employee GROUP BY
medium gold: SELECT name ,  LOCATION ,  district FROM shop ORDER BY number_products DESC

medium pred: SELECT Sales, COUNT(*) FROM song GROUP BY Sales
medium gold: SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship

medium pred: SELECT T1.state, T1.phone_number, T1.con
medium gold: SELECT T2.created ,  T2.state ,  T2.phone_number FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number WHERE T1.contestant_name  =  'Tabatha Gehling'

medium pred: SELECT T1.Name FROM poker_player AS T1 JOIN people AS T
medium gold: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Final_Table_Made

medium pred: SELECT avg(T1.Pet_Age) FROM Has
medium gold: SELECT avg(weight) ,  pettype FROM pets GROUP BY pettype

medium pred: SELECT tv_series_name FROM tv_series W
medium gold: SELECT T1.series_name FROM TV_Channel AS T1 JOIN TV_series AS T2 ON T1.id = T2.Channel WHERE T2.Episode = "A Love of a Lifetime";

medium pred: SELECT T1.name, T1.professional_id FROM treatments AS
medium gold: SELECT T1.date_of_treatment ,  T2.first_name FROM Treatments AS T1 JOIN Professionals AS T2 ON T1.professional_id  =  T2.professional_id

extra pred: SELECT max(horsepower), min(horse
extra gold: select t1.id ,  t1.maker from car_makers as t1 join model_list as t2 on t1.id  =  t2.maker group by t1.id having count(*)  >=  2 intersect select t1.id ,  t1.maker from car_makers as t1 join model_list as t2 on t1.id  =  t2.maker join car_names as t3 on t2.model  =  t3.model group by t1.id having count(*)  >  3;

easy pred: SELECT course_name FROM courses WHERE course_id NOT IN (SEL
easy gold: SELECT DISTINCT T1.course_name FROM Courses AS T1 JOIN Student_Enrolment_Courses AS T2 ON T1.course_id  =  T2.course_id

extra pred: SELECT T2.name FROM city AS T1 JOIN government_form AS T
extra gold: SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English" INTERSECT SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "French"

easy pred: SELECT flight_number FROM airports WHERE destination_airport =
easy gold: SELECT FlightNo FROM FLIGHTS WHERE DestAirport  =  "APG"

extra pred: SELECT count(*) FROM cars WHERE horsepower > 3
extra gold: SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Horsepower  >  (SELECT min(Horsepower) FROM CARS_DATA) AND T1.Cylinders  <=  3;

medium pred: SELECT count(*) FROM tourneys WHERE country_code = "
medium gold: SELECT count(*) ,  country_code FROM players GROUP BY country_code
